body {
  margin: 0;
}

.App {
  text-align: center;
}

#loader-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

#map-container {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -75%);
}

#welcome {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.geo-info {
  border-collapse: collapse;
  width: 50%;
}

.geo-headers {
  background: yellow;
}